@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the KATE Art Gallery!</h1>
    <p class="lead">Look at all the art!</p>
    <p>@Html.ActionLink("Click Here", "ViewArtwork", "ArtWork", null, new { @class = "btn btn-info" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Paintings</h2>
        <p>
            Like paintings?  
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">View Paintings &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Photographs</h2>
        <p>Maybe you prefer photographs?</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">View Photographs &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Scultpures</h2>
        <p>Perhaps sculptures strike your fancy...</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">View Sculptures &raquo;</a></p>
    </div>
</div>