@model List<KATEArtGallery.Models.ArtWork>
@{
    ViewBag.Title = "ViewArtWork";
}

<h2>ViewArtWork</h2>

<table>
    @foreach (var art in Model)
    {
        <tr>
            <td>@Html.DisplayFor(ModelItem => art.Title)</td>
        </tr>
    }
</table>